*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
}

.container {
  margin: 0 auto;
}

.song-wrapper {
  font-family: $font-subscribe;
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-main;
}
