.subscribe {
  background-image: url('../images/subscribe.jpg');
  height: 80vh;
  background-size: cover;
  background-position: center center;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
}

.btn {
  border: 4px solid white;
  width: 300px;
  height: 50vh;
}
.btn a {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: $font-global;
  color: $color-light;
  background-color: $color-main;
  min-width: 160px;
  margin: 350px auto 0 auto;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.author {
  border: 4px solid white;
  font-size: 120px;
  width: 300px;
  height: 50vh;
}
.author_image {
  border: 4px solid white;
  width: 300px;
  height: 50vh;
}
.author_image img {
  width: 300px;
  height: 50vh;
  object-fit: cover;
}
