.home-wrapper {
  padding-top: 40px;
  margin-bottom: 10px;
  background: $background-color;
  display: flex;
  flex-direction: column;
}

.music-home {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.categories-links {
  display: flex;
  flex-direction: row;
  color: $color-light;
}

li {
  display: inline-block;
  margin-left: 3px;
}

li a {
  text-decoration: none;
  color: $color-light;
}

.selected {
  color: $color-main;
}

.subscribe {
  background-image: url('../images/subscribe.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  font-family: $font-subscribe;
  position: relative;
  margin-top: 150px;
}

.title {
  position: absolute;
  color: $color-light;
  margin-top: -45px;
  font-size: 75px;
  left: 30%;
  text-transform: uppercase;
  letter-spacing: 7px;
}


.subscribe_container {
  display: flex;
  align-items: center;
}

.btn-home {
  width: 350px;
  height: 50vh;
}

.btn-home a {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: $color-light;
  background-color: $color-main;
  min-width: 160px;
  margin: 350px auto 0 auto;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.author_image {
  width: 350px;
  height: 50vh;
}

.author_image img {
  width: 350px;
  height: 50vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
  left: 35%;
}

.author {
  margin: 0 auto;
  color: $color-light;
  font-size: 100px;
  position: absolute;
  top: 35%;
  left: 42%;
  z-index: 2;
  letter-spacing: 12px;
  font-weight: bold;
}

.author-name {
  padding-right: 195px;
}

.author-last-name {
  padding-left: 60px;
}

.son {
  color: $color-main;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $color-light;
  position: absolute;
  top: 75%;
  left: 55%;
  letter-spacing: 5px;
  font-size: 18px;
}

.album p {
  margin-top: -10px;
}

.song-author {
  color: white;
  width: 400px;
}

audio {
  color: white;
}

.categories {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.player {
  text-align: center;
  width: 400px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .title {
    font-size: 48px;
    margin-top: -25px;
  }

  .subscribe_container {
    display: flex;
    flex-direction: column;
  }

  .author {
    font-size: 60px;
    left: 25%;
  }

  .author_image img {
    width: 250px;
    height: 40vh;
    bottom: 40%;
    left: 53%;
  }

  .album {
    right: 14%;
  }

  .btn a {
    margin: 200px auto 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  .author {
    font-size: 50px;
    left: 2%;
  }

  .author_image img {
    display: none;
  }

  .btn-home a {
    margin: 150px auto 0 auto;
  }

  .title {
    font-size: 48px;
    margin-top: -25px;
    left: 10%;
  }

  .song-author {
    width: 350px;
  }

  .player {
    width: 350px;
  }

  .categories {
    width: 350px;
  }
}
