#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.search-wrapper {
  margin: 50px auto;
  background: $background-color;
  border-radius: 4px;
  text-align: center;
  color: $color-light;
  font-family: $font-subscribe;
}

.search-title {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.search-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-info > div {
  margin: 10px;
}


.btn-search a {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: $color-light;
  background-color: $color-main;
  min-width: 120px;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.music-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

